/* Untuk Tablet */
@media all and (max-width: 1000px) {
 .top-wrapper h1 {
        font-size: 45px;
 }

 .top-wrapper h2 {
     font-size: 20px;
 }

 .top-wrapper h3 {
     font-size: 15px;
 }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
 
}
