/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .top-wrapper h1 {
        font-size: 45px;
    }

    .top-wrapper h2 {
        font-size: 20px;
    }

    .top-wrapper h3 {
        font-size: 15px;
    }

    .header-title{
        font-size: 60px;
        margin-bottom: 80px;
    }
    
    .portofolio-item{
        width: 50%;
        padding: 0 20px;
        margin-bottom: 50px;
    }
    
    .portofolio-icon{
        width: 100%;
        border-radius: 1rem;
    }

    .portofolio-item-hover p{
        padding-top: 100px;
        color: white;
        font-size: 46px;
    }
}

/* Untuk Smartphone */
 @media all and (max-width: 670px) {
    /*.top-wrapper {
        text-align: left;
        padding-left: 15px;
    }*/

    .header-title{
        font-size: 80px;
        margin-bottom: 100px;
    }
    
    .portofolio-icon{
        width: 100%;
        border-radius: 1.5rem;
    }

    .portofolio-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .portofolio-item{
        width: 100%;
        padding: 0 40px;
        margin-bottom: 100px;
    }

    .portofolio-item-hover p{
        padding-top: 250px;
        color: white;
        font-size: 82px;
    }
} 