* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
  }

  .container{
    width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
  }
    
  .header-title{
    font-family: "Lato";
    font-size: 50px;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 50px;
  }

  .top-wrapper {
    padding: 200px 0 150px 0;
    background-color: darkcyan;
    background-size: cover;
    color: white;
    text-align: center;
    
  }

  .top-wrapper h1 {
      font-family: 'Roboto Slab';
      font-size: 60px;
      letter-spacing: 7px;
  }

  .top-wrapper h2 {
      font-family: serif;
      font-size: 25px;
      margin-bottom: -20px;
  }
  
  .top-wrapper h3 {
    font-family: serif;
    font-size: 20px;
    margin-bottom: 2px;
  }


  .top-wrapper img {
      height: 45%;
      width: 45%;
  }

  /*portofolio*/
			
  .portofolio{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .portofolio-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .portofolio-item{
    width: 33.33%;
    padding: 0 20px;
    margin-bottom: 30px;
  }
  
  .portfolio-select{
    position: relative;
    height: 100%;
  }

  .portofolio-item-hover{
    position: absolute;
    background-color:rgba(26, 188, 156, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  .portofolio-item-hover p{
    padding-top: 80px;
    color: white;
    font-size: 24px;
  }

  .portofolio-icon{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
  }

  .portofolio-item:hover .portfolio-select .portofolio-item-hover{
    opacity: 1;
  }
    
/* portofolio */
  
.about-wrapper {
  height: 540px;
  padding-bottom: 80px;
  background-color: rgb(229, 208, 190);

  /* background-color: #09317ce1; */
  text-align: center;
}

.heading {
  padding-top: 10px;
  color: #3b3a3b;
}

.heading h1 {
  font-family: 'Roboto Slab';
  font-size: 60px;
  letter-spacing: 7px;
  margin-bottom: 5px;
  margin-top: 45px;
}

.desc {
  float: left;
  width: 50%;
  margin-top: 30px;
}

.desc-icon {
  position: relative;
}

.desc-icon .img1 {
  height: 130px;
  width: 280px;
}

.desc-icon .img2 {
  height: 120px;
  width: 155px;
  margin-bottom: 10px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #7d7a7e;
}

.divider-custom {
  /* margin: 1.25rem 0 1.5rem; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #7d7a7e;
  border-radius: 1rem;
  border-color: #7d7a7e !important;
}

.divider-custom .divider-custom-icon {
  color: #535253 !important;
  font-size: 2rem;
  margin: 10px 10px;
}